@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    margin: 0!important;
    padding: 0;
    box-sizing: border-box;
    

}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
    
}
main{
    margin:0;
    background-color:#ffffff;
}
.sec1{padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 80px!important;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 60px!important;
}
.div1{
    display: flex;
    justify-content:space-between;
    padding: 15px;
    align-items: center;
    gap: 2rem;
}
h3{
    text-align:justify;
}
img{flex: initial;
    width: 25rem;
    height: 25rem;
    border-radius: 1000px;
    
}
.habi{margin: 0;
    line-height: 1,3;
    text-align: center;
}
